@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
}

section {
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

a {
  text-decoration: none;
}

h1, h2, p {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

p {
  list-style-type: none;
  text-decoration: none;
}

h1, h2 {
  font-weight: 600;
}

.icon {
  color: #fff;
}

.btn {
  border-color: rgba(255, 255, 255, .5);
  color: #fff;
}

.btn:hover {
  border-color: rgba(255, 255, 255, .5);
  background-color: rgba(255, 255, 255, .5);
}

.border {
  border-bottom: 3px solid rgba(255, 255, 255, .5);
}

@media only screen and (min-width: 60em) {

  h2, p {
    text-align: left;
  }

  .border {
    border-right: 3px solid rgba(255, 255, 255, .5);
    border-bottom: hidden;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}
